.editor-container{
  flex: 1;
  border: none;
  // height: calc(100vh - var(--titlebarHeight));
  box-sizing: border-box;
  .vditor-outline__content{
    height: calc(100% - 30px);
    overflow: auto;
  }
  
  .vditor-ir{
    z-index: 1;
    overflow: auto;
    &>.vditor-reset{
      box-sizing: border-box;
      min-height: 100%;
    }
    
  }
  .vditor-reset{
    padding: 1em 2em !important;
  }
  .vditor-toolbar{
    box-sizing: border-box;
    padding-left: 6px !important;
  }
  
  .vditor-content{
    width:100vw;
  }
  .vditor-content,.vditor-outline,.vditor-ir{
    height: 100%;
    overflow: auto;
  }
}