.config-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 996;
    .dialog{
        width: 80%;
        height: 80%;
        z-index: 997;
        background-color: #fff;
        box-shadow: 0 0 20px #ccc;
        border-radius: 5px;
        padding: 12px;
    }
}