.config-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 994;
    .dialog{
        width: 80%;
        height: 80%;
        z-index: 997;
        background-color: var(--backgroundColor);
        border: .1em solid var(--hoverBackgroundColor);
        box-shadow: 0 0 20px var(--hoverBackgroundColor);
        border-radius: 5px;
        display: flex;
        &>.outline{
            height: 100%;
            overflow: auto;
            width: 120px;
            border-right: .1em solid var(--hoverBackgroundColor);
            box-sizing: border-box;
            padding: 12px;
            .outline-item{
                a{
                    font-size: 1.3em;
                    color: var(--textColor);
                    text-decoration: none;
                    &:hover{
                        font-weight: bold;
                    }
                }
            }
        }
        &>.content{
            box-sizing: border-box;
            height: 100%;
            overflow: auto;
            flex: 1;
            padding: .4em 1em;
            color: var(--textColor);
            h2{
                border-bottom: .1em solid var(--hoverBackgroundColor);
            }
            .tip{
                color: rgb(104, 104, 104);
            }
            input,select{
                color: var(--textColor);
                background-color: transparent;
                outline: none;
                border: .1em solid var(--hoverBackgroundColor);
            }
        }
    }
}