body{
  padding: 0;
  margin: 0;
  --titlebarHeight:30px;
  --docListWidth:150px;
  
}

body{
  --meskBgColor:rgba(211, 211, 211, 0.781);
  --textColor:rgb(26, 25, 25);
  --backgroundColor: #fff;
  --hoverBackgroundColor: #ccc;
  --backgroundColor2: #f6f8fa;
  background-color: var(--backgroundColor);
}
body[theme='dark']{
  --meskBgColor:rgba(61, 61, 61, 0.781);
  --textColor:#ccc;
  --backgroundColor: #24292e;
  --hoverBackgroundColor: #18191a;
  --backgroundColor2: #1d2125;
  background-color: var(--backgroundColor);
  .vditor-reset{
    color: var(--textColor);
    table{
      td,th {
        border-color: var(--hoverBackgroundColor);
        background-color: var(--backgroundColor);
      }
    }
    
  }

}

.app-mesk{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--meskBgColor);
  display: flex;
  align-items: center;
  justify-content: center;
  &::after{
    content: 'Exporting image, Please wait';
    display: block;
    color: var(--textColor);
  }
}

::-webkit-scrollbar {
  color: transparent;
  border-left: .1em solid rgba(124, 124, 124, 0.473);
  cursor: pointer;
  width:10px;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(122, 122, 122, 0.212);
  cursor: pointer;
  width:10px;
}

#app{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}